@media(max-width: 930px) {
    .works__items {
        flex-wrap: wrap;
    }
    .works__item {
        margin-bottom: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 905px) {
    .about__text {
        margin-right: 20px;
    }
}

@media (max-width: 820px) {
    .footer__inner {
        display: block;
    }
    .footer__about {
        max-width: 100%;
        padding: 25px;
    }
    .footer__about-title {
        padding-bottom: 25px;
    }
    .footer__twitter {
        max-width: 100%;
        padding: 0 25px 25px;
    }
    .footer__twitter-title {
        padding-bottom: 25px;
    }
    .footer__contacts {
        max-width: 100%;
        padding: 0 25px 25px;
    }
    .footer__contacts-title {
        padding-bottom: 25px;
    }
    .footer__contacts-social {
        padding-right: 0;
        justify-content: flex-start;
    }
    .footer__contacts-social-item {
        margin-right: 5px;
    }
}

@media (max-width: 770px) {
    .about__title {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 670px) {
    .about__title {
        font-size: 12px;
        line-height: 18px;
    }
    .about__text {
        font-size: 10px;
        line-height: 16px;
    }
}

@media (max-width: 622px) {
    .about {
        margin-bottom: 37px;
    }
    .about__inner {
        display: inline;
    }
    .about__item {
        width: 100%;
        position: relative;
    }
    .about__title {
        font-size: 18px;
        line-height: 24px;
    }
    .about__text {
        font-size: 12px;
        line-height: 18px;
    }
    .about__btn {
        margin-bottom: 20px;
        position: absolute;
        right: 37px;
        bottom: -37px;
    }
}

@media (max-width: 600px) {
    .header__menu-btn {
        display: block;
    }
    .header__menu>ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
        z-index: 2;
        background-color: #fff;
        border-top: 1px solid #dbdbdb;
    }
    .header__menu li {
        display: block;
        text-align: center;
        border-bottom: 1px solid #dbdbdb;
        padding: 7px 0;
    }
    .header__menu a {
        padding: 0;
    }
    .footer__about-title {
        padding-bottom: 15px;
    }
    .footer__twitter-title {
        padding-bottom: 15px;
    }
    .footer__contacts-title {
        padding-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .slider__item-box {
        width: 331px;
    }
    .name {
        padding: 10px 315px 11px 18px;
    }
    .footer__about-title {
        padding-bottom: 10px;
    }
    .footer__twitter-title {
        padding-bottom: 10px;
    }
    .footer__contacts-title {
        padding-bottom: 10px;
    }
}

@media (max-width: 490px) {
    .slider__item-box {
        width: 263px;
        margin-top: 266px;
        margin-left: 10px;
    }
    .content {
        line-height: 15px;
    }
}

@media (max-width: 470px) {
    .footer__about {
        max-width: 100%;
        padding: 25px 25px 10px;
    }
    .footer__twitter {
        max-width: 100%;
        padding: 0 25px 10px;
    }
    .footer__contacts {
        max-width: 100%;
        padding: 0 25px 10px;
    }
}